{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Add Item Types{% endblock  %}
{% block content %}
<div class="container base-container card" style="background-color: white;">
    <div class="row mt-3">
        <div class="col-md-6">
            <div class="title-text">
                <h5>Add Item Types</h5>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="row m-1">
                <div class="col-md-6">
                    {{form.item_type_name|as_crispy_field}}
                </div>
                <div class="col-md-6">
                    {{form.item_type_name_bn|as_crispy_field}}
                </div>
            </div>
            <div class='text-center m-3'>
                <button type="submit" class="btn btn-info">Submit</button>
            </div>
        </form>
    </div>
</div>

{% endblock  %}