{% extends "base.html" %}
{% block content %}

<!-- Banner start -->
<div class="container-fluid banner-image">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="banner_section">
                    <div class="banner-text">
                        <h2>Rice Mill Management System Software</h2>
                        <p style="font-size: 20px;">Our comprehensively designed auto rice mill management software helps you manage your business efficiently, swiftly, and securely.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner end-->


{% endblock %}