{% extends "base.html" %}
{% load static %}
{% block title %}Stocks{% endblock  %}
{% block content %}
<div class="container base-container card" style="background-color: white; min-height: 100vh;">
    <div class="row mt-3">
        <div class="col-md-6">
            <div class="title-text">
                <h5>Stocks</h5>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-3">
            <div class="card-item" style="background-color: #d2b4de;">
                <div class="row">
                    <div class="col-md-6">
                        <div class="item-left">
                            <h2>Chaul</h2>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="item-right">
                            <h4>{{obj_list.chaul_qty}} KG</h4>
                            <h4>5 MON</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card-item" style="background-color: #a9cce3;">
                <div class="row">
                    <div class="col-md-6">
                        <div class="item-left">
                            <h2>Khud</h2>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="item-right">
                            <h4>{{obj_list.khud_qty}} KG</h4>
                            <h4>5 MON</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card-item" style="background-color: #abebc6;">
                <div class="row">
                    <div class="col-md-6">
                        <div class="item-left">
                            <h2>Kura</h2>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="item-right">
                            <h4>{{obj_list.kura_qty}} KG</h4>
                            <h4>5 MON</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card-item" style="background-color: #fad7a0;">
                <div class="row">
                    <div class="col-md-6">
                        <div class="item-left">
                            <h2>Chita</h2>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="item-right">
                            <h4>{{obj_list.chita_qty}} KG</h4>
                            <h4>5 MON</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
